<div class="content">
	<?php foreach($this->items as $item): ?>
		<div class="item">
			<dl>
				<dt>ID: <dd><?php echo $item['id'] ?>
				<dt>Title: <dd><?php echo $item['title'] ?>
				<dt>Synopsis: <dd><?php echo $item['synopsis'] ?>
			</dl>
		</div>
	<?php endforeach; ?>
</div>